<% @page_title = "家計簿登録" %>
<h2><%= @page_title %></h2>

<% if @expense.present? %>
<table>
	<thead>
		<tr>
			<th>科目名</th>
			<th>備考</th>
		</tr>
	</thead>
	<tbody>
		<% @expense.each do |expenses| %>
			<tr>
				<td><%= expenses.name %></td>
				<td><%= expenses.description %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<% else %>
	<p>登録されている家計簿がありません。</p>
<% end %>